| {% load lbcms %}
- var colors = {bg: "white", main:"#eeeeee", text: "#333333"};
- var fontFamily = 'font-family: Roboto, sans-serif;';
head
    <!-- SimpleGrey theme-->
    style
        include ../bootstrap-min.css
body
    // SimpleGrey
    <!--[if (gte mso 9)|(IE)]>
        table(width="600", align="center", cellpadding="0", cellspacing="0", border="0")
            tr
                td
    <![endif]-->
    table(width="100%", border="0", cellspacing="0", cellpadding="0")
        tr
            td(align="center", valign="top", style="background-color:"+colors.bg+";", bgcolor=colors.bg+";")
                table(width="583", border="0", cellspacing="0", cellpadding="0")
                    //-header
                    tr(height='10', bgcolor=colors.main, style=`background-color:${colors.main};`)
                        td(colspan='3')
                    tr
                        td(width='15',  bgcolor=colors.main, style=`background-color:${colors.main};`)
                        td(align="left", valign="top", bgcolor=colors.main, style=`background-color:${colors.main};`)
                            div(style='height:30px;')
                                img(src="{% site_logo_img_url size='min' %}", style='height:30px;')
                        td(width='15',  bgcolor=colors.main, style=`background-color:${colors.main};`)
                    tr(height='10', bgcolor=colors.main, style=`background-color:${colors.main};`)
                        td(colspan='3')

                    //-site title
                    tr(height='10')
                    tr
                        td(width='15')
                        td(align="left")
                            a(style=`font-weight:300;font-size:17px;text-decoration:underline;text-transform: uppercase;color:${colors.text};${fontFamily}`)
                                | {% translate settings.siteTitle %}
                        td(width='15')
                    tr(height='10')

                    tr(style=`height:1px; background-color:${colors.main};`, bgcolor=colors.bg+';', height='1')
                        td(colspan='3')
                    tr(style="height:20px;", height='20')
                        td(colspan='3')
                    tr
                        td(colspan='3')
                            h2(style=`color:#333333;font-size:24px;font-weight:500;margin-bottom: 10px;margin-top:0px;${fontFamily}`)
                                | {% translate emailSubject %}
                    tr
                        td(colspan='3', style=`${fontFamily}`)
                            | {{TEMPLATE | safe}}
                    tr(style="height:20px;", height='20')
                        td(colspan='3')
                    // {% if settings.seo.social %}
                    tr(style=`height:1px; background-color:${colors.main}`, bgcolor=colors.bg+';', height='1')
                        td(colspan='3')
                    tr(style="height:20px;", height='20')
                        td(colspan='3')
                    tr
                        td(align='center', colspan='3')
                            | {% for url in settings.seo.social %}
                            |   {% uic_site_brand_a  url  'grey'%}
                            | {% endfor %}
                    tr(style="height:20px;", height='20')
                        td(colspan='3')
                    // {% endif %}
                    // {% if  settings.publicContacts %}
                    tr(style=`height:1px; background-color:${colors.main}`, bgcolor=colors.bg+';', height='1')
                        td(colspan='3')
                    tr(style="height:20px;", height='20')
                        td(colspan='3')
                    tr
                        td(colspan='3', align='center')
                            | {% for contact in settings.publicContacts %}
                            span(style=`padding:0 7px;${fontFamily}`)
                                | {% uic_contact contact 11 'black' %}
                            | {% endfor %}
                    // {% endif %}
    <!--[if (gte mso 9)|(IE)]>
    </td>
    </tr>
    </table>
    <![endif]-->
    | {% disable_email_trim %}
