{% load lbcms %}
<head><!-- SimpleGrey theme-->
  <style>



/* Tables */

.table {
  border-collapse: collapse !important;
}
.table td,
.table th {
  background-color: #fff;
}
.table-bordered th,
.table-bordered td {
  border: 1px solid #ddd;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #ddd;
}
.table .table {
  background-color: #fff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
table col[class*="col-"] {
  position: static;
  display: table-column;
  float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  display: table-cell;
  float: none;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}

.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
}

.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}

.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}

.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
}

.table-responsive {
  min-height: .01%;
  overflow-x: auto;
}




/* text */
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}


/* widths */
.w-3em{
    width: 3em;
}
.w-4em{
    width: 4em;
}
.w-5em{
    width: 5em;
}
.w-6em{
    width: 6em;
}
.w-7em{
    width: 7em;
}
.w-8em{
    width: 8em;
}

  </style>
</head>
<body>
  <!-- SimpleGrey--><!--[if (gte mso 9)|(IE)]>
  <table width="600" align="center" cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td></td>
    </tr>
  </table><![endif]-->
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="center" valign="top" style="background-color:white;" bgcolor="white;">
        <table width="583" border="0" cellspacing="0" cellpadding="0">
          <tr height="10" bgcolor="#eeeeee" style="background-color:#eeeeee;">
            <td colspan="3"></td>
          </tr>
          <tr>
            <td width="15" bgcolor="#eeeeee" style="background-color:#eeeeee;"></td>
            <td align="left" valign="top" bgcolor="#eeeeee" style="background-color:#eeeeee;">
              <div style="height:30px;"><img src="{% site_logo_img_url size='min' %}" style="height:30px;"/></div>
            </td>
            <td width="15" bgcolor="#eeeeee" style="background-color:#eeeeee;"></td>
          </tr>
          <tr height="10" bgcolor="#eeeeee" style="background-color:#eeeeee;">
            <td colspan="3"></td>
          </tr>
          <tr height="10"></tr>
          <tr>
            <td width="15"></td>
            <td align="left"><a style="font-weight:300;font-size:17px;text-decoration:underline;text-transform: uppercase;color:#333333;font-family: Roboto, sans-serif;">{% translate settings.siteTitle %}</a></td>
            <td width="15"></td>
          </tr>
          <tr height="10"></tr>
          <tr style="height:1px; background-color:#eeeeee;" bgcolor="white;" height="1">
            <td colspan="3"></td>
          </tr>
          <tr style="height:20px;" height="20">
            <td colspan="3"></td>
          </tr>
          <tr>
            <td colspan="3">
              <h2 style="color:#333333;font-size:24px;font-weight:500;margin-bottom: 10px;margin-top:0px;font-family: Roboto, sans-serif;">{% translate emailSubject %}</h2>
            </td>
          </tr>
          <tr>
            <td colspan="3" style="font-family: Roboto, sans-serif;">{{TEMPLATE | safe}}</td>
          </tr>
          <tr style="height:20px;" height="20">
            <td colspan="3"></td>
          </tr>
          <!-- {% if settings.seo.social %}-->
          <tr style="height:1px; background-color:#eeeeee" bgcolor="white;" height="1">
            <td colspan="3"></td>
          </tr>
          <tr style="height:20px;" height="20">
            <td colspan="3"></td>
          </tr>
          <tr>
            <td align="center" colspan="3">
              {% for url in settings.seo.social %}
                {% uic_site_brand_a  url  'grey'%}
              {% endfor %}
            </td>
          </tr>
          <tr style="height:20px;" height="20">
            <td colspan="3"></td>
          </tr>
          <!-- {% endif %}-->
          <!-- {% if  settings.publicContacts %}-->
          <tr style="height:1px; background-color:#eeeeee" bgcolor="white;" height="1">
            <td colspan="3"></td>
          </tr>
          <tr style="height:20px;" height="20">
            <td colspan="3"></td>
          </tr>
          <tr>
            <td colspan="3" align="center">{% for contact in settings.publicContacts %}<span style="padding:0 7px;font-family: Roboto, sans-serif;">{% uic_contact contact 11 'black' %}</span>{% endfor %}</td>
          </tr>
          <!-- {% endif %}-->
        </table>
      </td>
    </tr>
  </table><!--[if (gte mso 9)|(IE)]>
</td>
</tr>
</table>
<![endif]-->{% disable_email_trim %}
</body>