<ul class="nav navbar-nav navbar-right" uic-default-controller="">
 <li class="hidden-xs navbar-li-django-contact">
  <a href="tel:+000000000000">
   <span class="fa fa-phone">
   </span>
   +000000000000
  </a>
 </li>
 <li class="navbar-li-django-uisref">
  <a href="/articles/-/10-article-about-us" ng-click="$cms.collapseNavbar()" target="_blank">
   About us
  </a>
 </li>
 <li class="dropdown" uib-dropdown="">
  <a class="dropdown-toggle" style="cursor:pointer;" uib-dropdown-toggle="">
   <span>
    Contact us
   </span>
   <span class="caret">
   </span>
  </a>
  <ul class="dropdown-menu">
   <li class="navbar-li-django-href">
    <a href="http://google.com" ng-click="$cms.collapseNavbar()" rel="nofollow" target="_blank">
     Google
    </a>
   </li>
   <li class="navbar-li-django-href">
    <a download="" href="https://storage.googleapis.com/lbcms-container-test_bucket/file.txt" ng-click="$cms.collapseNavbar()" target="_blank">
     File
    </a>
   </li>
  </ul>
 </li>
 <li class="dropdown hidden-xs" uib-dropdown="">
  <a class="dropdown-toggle" style="cursor:pointer;" uib-dropdown-toggle="">
   <span>
    Category for article!
   </span>
   <span class="caret">
   </span>
  </a>
  <ul class="dropdown-menu">
   <li class="navbar-li-django-href">
    <a href="/articles/3-category-for-article/1-article--1" ng-click="$cms.collapseNavbar()">
     Article # 1
    </a>
   </li>
   <li class="navbar-li-django-href">
    <a href="/articles/3-category-for-article/2-article--2" ng-click="$cms.collapseNavbar()">
     Article # 2
    </a>
   </li>
   <li class="navbar-li-django-href">
    <a href="/articles/3-category-for-article/3-article--3" ng-click="$cms.collapseNavbar()">
     Article # 3
    </a>
   </li>
  </ul>
 </li>
 <li class="dropdown hidden-lg navbar-li-django-ui-lang-picker-for-navbar" uib-dropdown="">
  <a class="dropdown-toggle" style="cursor:pointer;" uib-dropdown-toggle="">
   <span class="f16">
    <span class="flag gb">
    </span>
   </span>
   <span>
    English
   </span>
   <span class="caret">
   </span>
  </a>
  <ul class="dropdown-menu" role="menu" uib-dropdown-menu="">
   <li class="active">
    <a class="dropdown-item" href="http://testserver/api/v1/UsersWithLb/" target="_self">
     <span class="f16">
      <span class="flag gb">
      </span>
     </span>
     <span>
      English
     </span>
    </a>
   </li>
   <li class="">
    <a class="dropdown-item" href="http://testserver/api/v1/UsersWithLb/" target="_self">
     <span class="f16">
      <span class="flag ru">
      </span>
     </span>
     <span>
      Русский
     </span>
    </a>
   </li>
   <li class="">
    <a class="dropdown-item" href="http://testserver/api/v1/UsersWithLb/" target="_self">
     <span class="f16">
      <span class="flag cs">
      </span>
     </span>
     <span>
      Čeština
     </span>
    </a>
   </li>
  </ul>
 </li>
 <li class="" h-cart-for-navbar="">
 </li>
</ul>
