{% load lbcms %}{% load widget_tweaks %}
<form method="post">{% csrf_token %}
    <fieldset>
        {% for field in form %}
            <div class="form-group">
                <label>
                    {% trans field.label %}{% if field.errors %}
                    <span class='text-danger'>[{% for error in  field.errors %}{{ error }}{% endfor %}]</span>
                    {% endif %}
                </label>
                {{ field|add_class:'form-control' }}{% if field.help_text %}
                    <p class="help-block"><small>{% trans field.help_text %}</small></p>
                {% endif %}
            </div>
        {% endfor %}
    </fieldset>
    <button type="submit" class="btn btn-primary btn-block">{% trans 'Update' %}</button>
</form>
