{% if currentLang.name and langsList|length > 1 %}
<li uib-dropdown="" class="dropdown {{cssClass}} navbar-li-django-ui-lang-picker-for-navbar">
    <a uib-dropdown-toggle="" style="cursor:pointer;" class="dropdown-toggle {% if bsVersion >= 5 %}nav-link{% endif %}" {% if bsVersion >= 5 %}data-bs-toggle="dropdown"{% endif %}>
        <span class='f16'><span class='flag {{currentLang.flagCode}}'></span></span>
        <span>{{currentLang.name}} </span>
        {% if bsVersion == 3 %}<span class='caret'></span>{% endif %}
    </a>
    <ul uib-dropdown-menu="" role="menu" class="dropdown-menu">
        {% for lang in langsList %}
        {% if bsVersion >= 5 %}
        <li>
            <a href="{{lang.url}}" target='_self' class="dropdown-item {% if lang.isActive %}active{% endif %}">
                <span class='f16'><span class='flag {{lang.flagCode}}'></span></span>
                <span>{{lang.name}}</span>
            </a>
        </li>
        {% else %}
        <li class="{% if lang.isActive %}active{% endif %}">
            <a href="{{lang.url}}" target='_self' class="dropdown-item">
                <span class='f16'><span class='flag {{lang.flagCode}}'></span></span>
                <span>{{lang.name}}</span>
            </a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</li>{% endif %}
