{% load base_lbcms %}{% load i18n %}{% if bsVersion == 5 %}
<a class="uic-contact" href="{{href}}" target="{{target}}" rel='nofollow' uic-contact='{{ngModelAsString}}'>
    <span class="uic-contact-icon">
        {% if not variants %}<i class="fas {{faIcon}}" style="padding-left: 3px"></i>{% else %}
        {% for v in variants %}<i class="{{v.faIcon}}" style="padding-left: 3px"></i>{% endfor %}
        {% endif %}
    </span>
    <span class="uic-contact-text">{{ngModel.value}}</span>
</a>
{% else %}<a href="{{href}}" {% if color != 'fa' %}style="color:{{color}};"{% endif %}>
    {% if color == 'fa' %}<span class='fa {{faIcon}}'></span>{% else %}<img src="{% static icon %}" style="height:{{size}}px; vertical-align:middle;"/>{% endif %}
    {{ngModel.value}}
</a>{% endif%}
