| {% load lbcms %} {% load i18n %}
| {% for positionType, items in menuConf.items %}
ul(class='nav navbar-nav navbar-{{positionType}}', uic-default-controller='')
    | {% for item in items %}
    |  {% if item.childs %}
    <li class='dropdown {{item.liClass}}' uib-dropdown {{item.liAttrs | safe}}>
        a(class='dropdown-toggle', uib-dropdown-toggle='', style='cursor:pointer;')
            span {{item.title | safe}}
            span.caret
        ul.dropdown-menu
            | {% for child in item.childs %}
            |   {% uic_navbar_nav_item_mobile  child %}
            | {% endfor %}
    </li>
    |  {% else %}
    |  {% uic_navbar_nav_item_mobile item %}
    |  {% endif %}
    | {% endfor %}
| {% endfor %}
