
{% switch menuitem.type %}
{% case 'href' %}
<li class="{% if menuitem.isActive %}active{% endif %} {{menuitem.liClass}} navbar-li-django-href" {{menuitem.liAttrs | safe}}>
    <a href="{{menuitem.href}}" {{menuitem.attrs | safe}} ng-click="$cms.collapseNavbar()">{{menuitem.title | safe}}</a>
</li>
{% case 'uisref' %}
<li class="{% if menuitem.isActive %}active{% endif %} {{menuitem.liClass}} navbar-li-django-uisref" {{menuitem.liAttrs | safe}}>
    <a href="{{menuitem.href}}" {{menuitem.attrs | safe}} ng-click="$cms.collapseNavbar()">{{menuitem.title | safe}}</a>
</li>
{% case 'uisrefAnchor' %}
<li du-scrollspy='' offset='{{menuitem.scrollOffset}}' class='{{menuitem.liClass}} navbar-li-django-uisref-anchor' {{menuitem.liAttrs | safe}}>
    <a du-smooth-scroll='{{menuitem.anchor}}'
       offset='{{menuitem.scrollOffset}}'
       {{menuitem.attrs | safe}}
        {% if bsVersion >= 5 %}href="{% url menuitem.uisref%}#{{menuitem.anchor}}" {% else %}
        ng-click="toView('{{menuitem.uisref}}', '{{menuitem.anchor}}'); $cms.collapseNavbar()"
        {% endif %}
        >
        {{menuitem.title | safe}}
    </a>
</li>
{% case 'contact' %}
<li class="{% if menuitem.isActive %}active{% endif %} {{menuitem.liClass}} navbar-li-django-contact" {{menuitem.liAttrs | safe}}>{{menuitem.template | safe}}</li>{% case 'action' %}<li class="{% if menuitem.isActive %}active{% endif %} {{menuitem.liClass}} navbar-li-django-action" {{menuitem.liAttrs | safe}}>
    <a ng-click="{{menuitem.ngClick}}" {{menuitem.attrs | safe}}>{{menuitem.title | safe}}</a>
</li>
{% case 'directive' %}
 {% if menuitem.htmlAttr %}
    <li {{menuitem.htmlAttr | safe}} {{menuitem.liAttrs | safe}} class="{% if menuitem.isActive %}active{% endif %} {{menuitem.liClass}}">
    </li>
 {% else %}
    {{menuitem.template | safe}}
 {% endif %}
{% endswitch %}
