
{% load lbcms %} {% load i18n %}
{% for positionType, items in menuConf.items %}
<ul class="nav navbar-nav navbar-{{positionType}}" uic-default-controller="">
  {% for item in items %}
   {% if item.childs %}
   <li class='dropdown {{item.liClass}}' uib-dropdown {{item.liAttrs | safe}}>
       <a class="dropdown-toggle {% if bsVersion >= 5 %}nav-link{% endif %}" uib-dropdown-toggle="" style="cursor:pointer;">
           <span>{{item.title | safe}}</span>
           {% if bsVersion == 3 %}<span class='caret'></span>{% endif %}
       </a>
      <ul class="dropdown-menu">
        {% for child in item.childs %}
          {% uic_navbar_nav_item  child bs_version=bsVersion %}
        {% endfor %}
      </ul>
   </li>
   {% else %}
    {% uic_navbar_nav_item item bs_version=bsVersion %}
   {% endif %}
  {% endfor %}
</ul>{% endfor %}
