| {% load lbcms %}

html(xmlns="http://www.w3.org/1999/xhtml")
    head
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        title Untitled Document
        <!-- FancyYellow theme-->
        style
            include ../bootstrap-min.css
        style
            include ./style.css
        //-
    body
        table.logo
            tbody
                tr
                    td
                        img(src="{% site_logo_img_url size='min' %}")
        table.body(style="{% if PLATFORM!='prod'%}background:red !important;{% endif%}")
            tbody
                tr.body-title
                    td
                    td
                        h3
                            a(href='') {% translate settings.siteTitle %}
                        h1
                            | {% if PLATFORM != 'prod' %}TEST EMAIL:{% endif %}
                            | {% translate emailSubject %}
                    td
                tr.body-hr
                    td
                    td
                    td
                tr.body-items(style="padding:10px 0; text-align: center;")
                    td
                    td(style="color: white;padding-bottom: 2.4em;")
                        | {{ TEMPLATE | safe }}
                    td
        table.footer
            | {% block footer %}
            tbody
                tr
                    td
                        | {% for contact in settings.publicContacts %}
                        span(style="padding-right:7px;")
                            | {% uic_contact contact 11 'white' %}
                        | {% endfor %}
                    td
                    td
                        | {% for url in settings.seo.social %}
                        |   {% uic_site_brand_a url %}
                        | {% endfor %}
            | {% endblock %}
    
        | {% disable_email_trim %}
