// "out": "style.css"

@color: #ff7800;// #312942;
@width: 700px;

.logo{
    height: 70px;
    background: white;
    text-align: center;
    width: 100%;
    img{
        width: 100px;
    }
}

.body{
    width: 100%;
    background-color: @color;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    .body-title{
        td:nth-child(2){
            max-width: @width;
            width: @width;
            color: white;
            text-align: center;
            padding-top:50px;
            h3{
                color: white;
                font-size: 12px;
                font-weight: 400;
                letter-spacing: 0.1em;
                text-align: center;
                text-transform: uppercase;
                cursor: pointer;
                font-family: "Open Sans", sans-serif;
                a{
                    color: white;
                }
            }
            h1{
                color: white;
                font-size: 35px;
                font-weight: 700;
                letter-spacing: 0px;
                text-align: center;
                cursor: pointer;
                font-family: "Open Sans", sans-serif;
            }
        }
    }
    .body-site-title{
        td:nth-child(2){
            max-width: @width;
            width: @width;
            color: white;
            text-align: center;
            h2{
                color: white;
                font-size: 12px;
                font-weight: 400;
                letter-spacing: 0.1em;
                text-align: center;
                text-transform: uppercase;
                cursor: pointer;
                font-family: "Open Sans", sans-serif;
                a{
                    color: white;
                }
            }
        }
    }
    .body-hr{
        height: 2em;
        td:nth-child(2){
            max-width:  @width;
            width: @width;
            border-top: 1px solid lighten(@color, 10%);
            padding-bottom: 1em;
            font-size: 1px;
            height: 1px;
            line-height: 1px;
        }
    }
    .body-items{
        &>td:nth-child(2){
            max-width:  @width;
            width: @width;
            &>table{
                margin-bottom: 1em !important;
            }
        }
        .bullet{
            @size: 0.3em;
            width: @size;
            height: @size;
            border-radius: 50%;
            background: @color;
        }
        .button{
            border-color: @color !important;
            color: @color !important;
            margin: 15px !important;
            margin-top: 30px !important;
            a{
                color: @color !important;
            }
        }
        .button-ng{
            border: 1px solid @color;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            padding: 6px 12px;
            color: @color !important;
            text-decoration: none;
            font-size: 14px;
            float:right;
            span{
                padding: 6px 12px;
                font-style: "Open Sans", sans-serif;
            }
        }
        .item{
            background-color: #F5F5F5;
            border-radius: 2px;
            width: 100%;
            .img{
                width: 170px;
                text-align: left;
                img{
                    width: 150px;
                }
            }
            h4{
                a{
                    font-style: "Open Sans", sans-serif;
                    color: black;
                }
            }
            ul{
                padding-left: 15px;
                color: @color;
                li{
                    span{
                        color: #8b8b8b;
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

.footer{
    width: 100%;
    background-color: #1A191E;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    td:nth-child(2){
        max-width: @width;
        width: @width;
        text-align: center;
        padding: 15px 0;
        a{
            color: rgb(126, 121, 125);
            text-align: center;
            font-size: 13px;
            font-weight: normal;
            letter-spacing: 0.02em;
            line-height: 20px;
            cursor: pointer;
            font-family: "Open Sans", sans-serif;
        }
    }
}
