.logo {
  height: 70px;
  background: white;
  text-align: center;
  width: 100%;
}
.logo img {
  width: 100px;
}
.body {
  width: 100%;
  background-color: #ff7800;
  margin: 0;
  padding: 0;
  table-layout: fixed;
}
.body .body-title td:nth-child(2) {
  max-width: 700px;
  width: 700px;
  color: white;
  text-align: center;
  padding-top: 50px;
}
.body .body-title td:nth-child(2) h3 {
  color: white;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}
.body .body-title td:nth-child(2) h3 a {
  color: white;
}
.body .body-title td:nth-child(2) h1 {
  color: white;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: center;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}
.body .body-site-title td:nth-child(2) {
  max-width: 700px;
  width: 700px;
  color: white;
  text-align: center;
}
.body .body-site-title td:nth-child(2) h2 {
  color: white;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}
.body .body-site-title td:nth-child(2) h2 a {
  color: white;
}
.body .body-hr {
  height: 2em;
}
.body .body-hr td:nth-child(2) {
  max-width: 700px;
  width: 700px;
  border-top: 1px solid #ff9333;
  padding-bottom: 1em;
  font-size: 1px;
  height: 1px;
  line-height: 1px;
}
.body .body-items > td:nth-child(2) {
  max-width: 700px;
  width: 700px;
}
.body .body-items > td:nth-child(2) > table {
  margin-bottom: 1em !important;
}
.body .body-items .bullet {
  width: 0.3em;
  height: 0.3em;
  border-radius: 50%;
  background: #ff7800;
}
.body .body-items .button {
  border-color: #ff7800 !important;
  color: #ff7800 !important;
  margin: 15px !important;
  margin-top: 30px !important;
}
.body .body-items .button a {
  color: #ff7800 !important;
}
.body .body-items .button-ng {
  border: 1px solid #ff7800;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  padding: 6px 12px;
  color: #ff7800 !important;
  text-decoration: none;
  font-size: 14px;
  float: right;
}
.body .body-items .button-ng span {
  padding: 6px 12px;
  font-style: "Open Sans", sans-serif;
}
.body .body-items .item {
  background-color: #F5F5F5;
  border-radius: 2px;
  width: 100%;
}
.body .body-items .item .img {
  width: 170px;
  text-align: left;
}
.body .body-items .item .img img {
  width: 150px;
}
.body .body-items .item h4 a {
  font-style: "Open Sans", sans-serif;
  color: black;
}
.body .body-items .item ul {
  padding-left: 15px;
  color: #ff7800;
}
.body .body-items .item ul li span {
  color: #8b8b8b;
  font-size: 13px;
}
.footer {
  width: 100%;
  background-color: #1A191E;
  margin: 0;
  padding: 0;
  table-layout: fixed;
}
.footer td:nth-child(2) {
  max-width: 700px;
  width: 700px;
  text-align: center;
  padding: 15px 0;
}
.footer td:nth-child(2) a {
  color: #7e797d;
  text-align: center;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 0.02em;
  line-height: 20px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}
