<!-- Path to manifest.json -->
<link rel="manifest" href="{% url 'vuejs-pwa-manifest'%}">

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="{{ PWA.name }}">

<!-- Chrome for Android theme color -->
<meta name="theme-color" content="{{ PWA.themeColor }}">

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="{{ PWA.name }}">
<meta name="apple-mobile-web-app-status-bar-style" content="{{ PWA.statusbarColor }}">

{% if PWA.appleIcons %}
    {% for icon in PWA.appleIcons %}
        <link rel="apple-touch-icon" href="{% static icon.src %}" sizes="{{ icon.size }}">
    {% endfor %}
{% else %}
    {% for icon in PWA.icons %}
        <link rel="apple-touch-icon" href="{% static icon.src %}" sizes="{{ icon.size }}">
    {% endfor %}
{% endif %}


{% for splash in PWA.splashScreen %}
<link href="{% static splash.src %}" media="{{ splash.media }}" rel="apple-touch-startup-image"/>
{% endfor %}


<!-- Tile for Win8 -->
<meta name="msapplication-TileColor" content="{{ PWA.backgrounColor }}">
{% with PWA.icons|last as icon %}
<meta name="msapplication-TileImage" content="{% static icon.src %}">
<link rel="icon" sizes="{{ icon.size }}" href="{% static icon.src %}">
{% endwith %}



<script type="text/javascript">
    // Initialize the service worker
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register("{% url 'vuejs-pwa-serviceworker'%}", {
            scope: '{{ PWA.scope }}'
        }).then(function (registration) {
            // Registration was successful
            {% if PWA.isDebugMode %}
            console.log('django-pwa: ServiceWorker registration successful with scope: ', registration.scope);
            {% endif %}
        }, function (err) {
            // registration failed :(
            {% if PWA.isDebugMode %}
            console.log('django-pwa: ServiceWorker registration failed: ', err);
            {% endif %}
        });
    }
</script>
