{% load static %}
<script>
    var VUEJS_STATIC_PREFIX = "{% static prefix %}"
</script>
{% for file in files %}
    {% if file.tag == 'script'%}
        <script type="{{file.relation}}" src="{% static file.name %}{{suffix}}"></script>
    {% elif file.tag == 'link' %}
        <link rel="{{file.relation}}" href="{% static file.name %}{{suffix}}">
    {% endif %}
{% endfor %}
