{% load lbcms %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic-ext" rel="stylesheet">
    <title>{{title}}</title>
    <style type="text/css">
        @page {
            size: 8cm;   /* auto is the initial value */
            margin: 0mm;  /* this affects the margin in the printer settings */
        }
        body{
            margin: 0;
            padding-left: {{margins.left}} !important;
            padding-right: {{margins.right}} !important;
            padding-top: {{margins.top}} !important;
            padding-bottom: {{margins.bottom}} !important;
        }
        iframe.html-header {
            margin-top: 0.7cm;
            margin-right: 2mm;
            margin-bottom: 0cm;
            margin-left: 1.2cm;
        }
        iframe.html-footer {
            bottom: 0cm;
            margin-left: 1cm;
            margin-right: 1cm;
            height: 1cm;
        }
        {{BOOTSTRAP_CSS|safe}}
        *{
            font-family: "Roboto", "sans-serif";
            -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
            color-adjust: exact !important;                 /*Firefox*/
        }
        @media print {
            -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
            color-adjust: exact !important;                 /*Firefox*/
        }
        pagebreak, .pagebreak{
            display: block;
            clear: both;
            page-break-before: always;
            width: 100%;
            min-height: 1px;
            overflow:hidden;
        }
    </style>
    <script>
        function hasNextSubling(el){
            var tagName = (el.tagName || '').toLowerCase();
            if (el.nextSubling || el.nextElementSibling){
                return true;
            }
            if (tagName == 'body'){
                return false;
            }
            return hasNextSubling(el.parentNode);
        }
        function removeLastEmptyPagebreak(){
            if (!document.querySelectorAll){
                return
            }
            var pagebreaks = document.querySelectorAll(".pagebreak, pagebreak");
            if (!pagebreaks.length){
                return
            }
            var lastPb = pagebreaks[pagebreaks.length-1];
            if (!hasNextSubling(lastPb)){
                lastPb.parentNode.removeChild(lastPb);
            }
        }

        document.addEventListener("DOMContentLoaded", function(){
            setTimeout(function(){
                removeLastEmptyPagebreak();
                {% if autoPrintDocument %}
                window.print();
                {% if autoCloseDocument %}setTimeout(window.close, 500);{% endif %}
                {% endif %}
            }, 600);
        });
    </script>
  </head>
  <body>
    {{content}}
  </body>
</html>
