{% load lbcms %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic-ext" rel="stylesheet">
    <style type="text/css">
        @page {
            size: auto;   /* auto is the initial value */
            margin: 0mm;  /* this affects the margin in the printer settings */
        }
        {{BOOTSTRAP_CSS|safe}}
        *{
            font-family: "Roboto", "sans-serif";
        }
    </style>
  </head>
  <body>
    {{content}}
  </body>
</html>
