{% load lbcms %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
    <title>{{title}}</title>
    <style type="text/css">
        @page {
            size: "A4";
            margin-left: {{margins.left}};
            margin-right: {{margins.right}};
            margin-top: {{margins.top}};
            margin-bottom: {{margins.bottom}};
            @frame header {
                -pdf-frame-content: page-header;
                margin-top: 0.7cm;
                margin-right: 2mm;
                margin-bottom: 0cm;
                margin-left: 1.2cm;
            }
            @frame footer {
                -pdf-frame-content: page-footer;
                bottom: 0cm;
                margin-left: 1cm;
                margin-right: 1cm;
                height: 1cm;
            }
        }
        {{BOOTSTRAP_CSS|safe}}
        {{PDF_FONTS|safe}}
        *{
            font-family: "Roboto", "sans-serif";
        }
        pagebreak, .pagebreak{
            display: block;
            clear: both;
            page-break-before: always;
            width: 100%;
        }
    </style>
  </head>
  <body>
    {{content}}
  </body>
</html>
