{% load lbcms %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
    <style type="text/css">
        {{BOOTSTRAP_CSS|safe}}
        {{PDF_FONTS|safe}}
        *{
            font-family: "Roboto", "sans-serif";
        }
    </style>
  </head>
  <body>
    {{content}}
  </body>
</html>
