| {% load lbcms %}
- var colors = {bg: "#53636e", footer:"#3d90bd", subject: "#245da5"};

head
    <!-- BlueWave theme-->
    style
        include ../bootstrap-min.css
body
    <!--[if (gte mso 9)|(IE)]>
        table(width="600", align="center", cellpadding="0", cellspacing="0", border="0")
            tr
                td
    <![endif]-->
    table(width="100%", border="0", cellspacing="0", cellpadding="0")
        tr
            td(align="center", valign="top", style="background-color:"+colors.bg+";", bgcolor=colors.bg+";")
                br
                br
                table(width="583", border="0", cellspacing="0", cellpadding="0")
                    tr
                        td(align="left", valign="top", bgcolor="#FFFFFF", style="background-color:"+colors.footer+"; border-top-right-radius: 5px; border-top-left-radius: 5px; padding: 10px 15px;")
                            h1(style="color:white; font-family:Times New Roman, Times, serif; font-size:30px; text-align:center; margin: 0;") {% translate emailSubject %}
                    tr
                        td(align="left", valign="top", bgcolor="#FFFFFF", style="background-color:#FFFFFF;")
                            table(width="100%", border="0", cellspacing="0", cellpadding="0")
                                tr
                                    td(width="35", align="left", valign="top")  
                                    td(align="left", valign="top")
                                        table(width="100%", border="0", cellspacing="0", cellpadding="0")
                                            tr
                                                td(align="center", valign="top", style="padding-top: 15px;")
                                                    //-div(style="color:"+colors.subject+"; font-family:Times New Roman, Times, serif; font-size:30px;") {% translate emailSubject %}
                                                    div(style="font-family: Verdana, Geneva, sans-serif; color:#898989; font-size:12px;") {% translate settings.siteTitle %}
                                            tr(style="height:2em;")
                                            tr
                                                td(align="left", valign="top", style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#525252;")
                                                    | {{TEMPLATE | safe}}
                                            tr(style="height:2em;")
                                            tr
                                                td(align="left", valign="top", style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#525252;")  
                                    td(width="35", align="left", valign="top")  
                    tr
                        td(align="left", valign="top", bgcolor=colors.footer+";", style="background-color:"+colors.footer+";")
                            table(width="100%", border="0", cellspacing="0", cellpadding="0")
                                tr
                                    td(width="35")
                                    td(height="50", valign="middle", style="color:#FFFFFF; font-size:11px; font-family:Arial, Helvetica, sans-serif;")
                                        b {% translate settings.siteTitle %}
                                        br
                                        | {% for contact in settings.publicContacts %}
                                        span(style="padding-right:7px;")
                                            | {% uic_contact contact 11 'white' %}
                                        | {% endfor %}
                                    td(height="50", valign="middle", style="color:#FFFFFF; font-size:11px; font-family:Arial, Helvetica, sans-serif;text-align:right;")
                                        | {% for url in settings.seo.social %}
                                        |   {% uic_site_brand_a url %}
                                        | {% endfor %}
                                    td(width="35")  
                br
                br
    <!--[if (gte mso 9)|(IE)]>
    </td>
    </tr>
    </table>
    <![endif]-->
    | {% disable_email_trim %}
